<nav class="navbar" *ngIf="uid">

    <a [routerLink]="['/home', uid]" class="logo-container"><img src="images/logo.png" alt="Logo ANDRAN Fit"></a>

    <ul>
        <li><a [routerLink]="['/home', uid]">
            Home
        </a></li>

        <li><a [routerLink]="['/clients', uid]">
            Clientes
        </a></li>
    </ul>

    <div class="logout-container"><button [routerLink]="['/login']">Logout</button></div>
</nav>

<div *ngIf="!uid" class="header-login">
    <div class="logo-container"><img src="images/logo.png" alt="Logo ANDRAN Fit"></div>  
</div>