<div id="your-client-list">
    <a [routerLink]="['/register-client', uid]" class="new-client-btn">
        <button class="register-client-btn">Registrar nuevo cliente</button>
    </a>

    <div class="client-grid">
        <a *ngFor="let client of trainerClients" class="client-container" [routerLink]="['/client', uid, client.uid]"
            class="client-container">
            <div class="client-info">
                <h3>{{ client.Nombre.Nombre }} {{ client.Nombre.Apellido1 }}</h3>
                <p class="client-since">Cliente desde: {{ client.Registro * 1000 | date:'dd/MM/yyyy' }}</p>
            </div>

            <!--     <div class="client-stats">
            <h3>Stats</h3>
            </div> -->

            <div class="next-workouts">
                <h3>⏭️ Próximos workouts</h3>

                <fieldset *ngFor="let workout of client.Workouts?.Pendientes" class="client-list-workout">
                    <legend class="client-list-workout-top">
                        <p class="workout-date">{{ workout.fecha * 1000 | date:'dd/MM/yyyy - HH:mm' }}</p>
                        <p class="separator"> - </p>
                        <p class="workout-time">{{ workout.tiempo }} mins</p>
                    </legend>
    
                    <div *ngFor="let ejercicio of workout.Ejercicios" class="client-list-ejercicios">
                        <p class="nombre-ejercicio">{{ ejercicio.nombre }}</p>
                        <p class="separator"> - </p>
                        <p>{{ ejercicio.series }} x {{ ejercicio.reps }}</p>
                    </div>
                </fieldset>
    
                <div *ngIf="client.Workouts?.Pendientes == null" class="no-planned-workouts">
                    <p>No hay workouts planificados</p>
                </div>

            </div>
        </a>
    </div>
</div>