<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <!-- e-mail -->
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" [ngClass]="{ 'error': email?.invalid && (email?.dirty || email?.touched) }">

        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error-message">
          <!-- Verificación e-mail requerido -->
          <div *ngIf="email?.errors?.['required']">
            El email es requerido
          </div>

          <!-- Verificación e-mail válido -->
          <div *ngIf="email?.errors?.['email']">
            Por favor ingresa un email válido
          </div>
        </div>
      </div>
  
      <!-- password -->
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" formControlName="password" [ngClass]="{ 'error': password?.invalid && (password?.dirty || password?.touched) }">

        <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="error-message">

          <!-- Verificación contraseña requerida -->
          <div *ngIf="password?.errors?.['required']">
            La contraseña es requerida
          </div>

          <!-- Verificación contraseña válida -->
          <div *ngIf="password?.errors?.['minlength']">
            La contraseña debe tener al menos 6 caracteres
          </div>

        </div>
      </div>
  
      <!-- button -->
      <button type="submit" [disabled]="!loginForm.valid" class="submit-button"> Iniciar Sesión </button>

    </form>
  </div>