<div id="homepage">
    <!-- Página principal -->
    <div class="home-container">

        <!-- GREETING -->
        <section class="home-greeting" id="greeting">
            <h1>Bienvenido/a, <span class="trainer-name">{{ trainerName | async }}</span> 🙂</h1>
        </section>

        <!-- CLIENTS -->
        <section class="clients" id="clients">
            <h2>⭐️ Aquí tienes tus clientes favoritos</h2>
            <div class="clients-container">
                <app-your-client-list></app-your-client-list>
            </div>
        </section>

    </div>

    <!-- Sidebar a la derecha -->
<!--     <div class="sidebar-container">
        <app-sidebar></app-sidebar>
    </div> -->
</div>

