#client-info{
    width: 90%;
    margin: 0 auto;
}

#client-info h1, #client-info h2{
    font-family: 'Funnel Display';
}

#client-info h1{
    margin: 1rem auto 2rem auto;
    padding-bottom: 1rem;
    text-align: center;

    border-bottom: solid 1px white;
}

.client-info-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.client-info-grid section{
    transition: ease all 200ms;
}


.client-info-grid section:hover{
    box-shadow: 2px 2px 15px rgba(172, 255, 47, 0.1);
}

/* overview */
.client-overview{ 
    width: 100%;
    grid-column: span 2;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem; /* Espacio entre columnas */

    margin: 0 auto;
    padding: 1rem 0;

    background-color: rgb(20, 20, 20);
    border: solid 1px rgb(39, 39, 39);
}

#client-info h3{ margin-bottom: 1rem; }
.client-overview p{ margin-bottom: 0.5rem; }

.left-personal-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    gap: 0.5rem;
    border-right: solid 1px rgb(39, 39, 39);
}

.img-container{ width: 6rem;}

.img-container img{ max-width: 100%; border-radius: 50%;}

.mediciones p, .general-data p{ color: white; }
.mediciones span, .general-data span{ color: greenyellow; font-weight: 500;}

/* workouts */
.client-workouts{

    min-width: fit-content;
    background-color: rgb(20, 20, 20);
    border: solid 1px rgb(39, 39, 39);

    padding: 1rem;
}

.add-workout button{
    text-transform: uppercase;
    padding: 0.5rem;

    color: greenyellow;
    font-weight: 600;

    transition: ease all 205ms;

    background-color: transparent;
    border: solid 1px greenyellow;
}
    
.add-workout button:hover{
    background-color: greenyellow;
    color: black;
    cursor: pointer;
}

@media (max-width: 768px) {

    .client-info-grid{
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }

    .client-info-grid h2{ margin-top: 1rem; }

    .client-overview{ gap:0.2rem }

    .general-data{padding-left: 0.5rem;}

}