/* Variables globales */
:root {
    --primary-color: rgb(20, 20, 20);
    --secondary-color: rgb(16, 24, 12);
    --border-color: rgb(39, 39, 39);
    --hover-border-color: rgba(172, 255, 47, 0.25);
    --text-color: greenyellow;
    --transition-duration: 205ms;
    --input-bg-color: rgb(46, 46, 46);
    --input-border-color: rgb(35, 35, 35);
}

/* General Styles */
*{ font-family: 'Montserrat', 'Space Grotesk', sans-serif; }

a{ text-decoration: none; }
a, a:visited{ color: inherit; }

ul, li{ list-style: none; }

h1, h2, h3, h4, p, a, ul{ margin: 0; padding: 0; }

body{ margin: 0; color: white }

/* header, main, footer{ padding-left: 1em; padding-right: 1em; } */

main{ min-height: 90vh; padding: 2rem 10vw; }

/* Header */
header{ height: 8vh; background-color: black; color: white; padding-top: 1rem; padding-bottom: 1rem; border-bottom: solid 2px white;}

header .navbar{ height: 100%; display: flex; justify-content: space-between; align-items: center; padding: 0 4rem;}

header .navbar ul{ 
    width: 30%; min-width: fit-content; 
    display: inline-flex; justify-content: space-between;
    gap: 1rem;

    font-family: 'Space Grotesk';
    text-transform: uppercase;
    font-size: 130%;
    font-weight: 500;
}

header .navbar ul li:hover{
    text-decoration: underline;
    color:greenyellow;
}

.logout-container, .logo-container{ width: 4rem; }

.logo-container img{ width: 100%; }

/* Main */
main{ background-color: black; }

/* Home page */
#homepage{
    min-height: 90vh;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
}

.sidebar-container, .home-container{ padding: 1rem; }

/* -Sidebar- */
.sidebar-container{
    width: 25%;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    background-color: black;

    border-left: solid white 1px;
}

/* -Home container- */
.home-container{
    width: 100%;
}

#homepage #greeting{
    font-size: 1.5rem;
    padding: 0.5rem 0 3rem 0;
}

.trainer-name{ font-weight: 700; color: greenyellow; font-size: 2.75rem;}

#homepage h1{ font-weight: 400; }
#homepage h2{ padding: 0.25rem 0; border-bottom: solid 1px white; padding-bottom: 0.5rem;}
#homepage .clients-container{ padding: 0.5rem 0 }

/* Clients */

/* Register client */

.register-client-form{
    width: 100%;

    display: flex;
    justify-content: center;
}

.register-client-form *{
    font-family: 'Funnel Display';
}

.register-client-form h1{
    margin: 1rem auto;

    text-transform: uppercase;
    font-family: 'Funnel Display';
}

.register-client-form .assigned-trainer{ margin-bottom: 1rem;}

.register-client-form form{
    width: 39rem;
    min-width: fit-content;

    display: flex;
    flex-direction: column;
}

.register-client-form .form-section{
    margin-bottom: 1rem;
}

.register-client-form .form-subsection{ border-top: solid 1px white; margin-bottom: 1rem;}

.register-client-form .general-goal{ margin: 1rem 0; }

.register-client-form form div section{
    display: flex;
    justify-content: space-between;

    margin: 1rem auto;
}

.register-client-form form label{
    padding-right: 0.5em;
}

.register-client-form button, header button{
    text-transform: uppercase;
    padding: 0.5rem;

    color: greenyellow;
    font-weight: 600;

    transition: ease all 205ms;

    background-color: transparent;
    border: solid 1px greenyellow;
}

.register-client-form button:hover, header button:hover{
    background-color: greenyellow;
    color: black;
    cursor: pointer;
}

.register-client-form button:disabled{
    background-color: rgb(16, 24, 12);
    border: solid 1px rgba(172, 255, 47, 0.05);
    color:rgba(255, 255, 255, 0.2);
    cursor: not-allowed;
}

.goals h3{ margin: 1rem auto 0.5rem auto; }

.goals h4{ margin: 1rem auto 0.5rem auto; }

.goals .macros .macros-distribution, .physical-goals section { width: 100%; display: inline-flex; justify-content: space-between; }

.macros input, .physical-data input, .physical-goals input{ width: 3rem; }

.register-client-form .options{ display: grid; grid-template-columns: repeat(2, 1fr);}

.register-client-form .kcal{ display: flex; gap: 2rem; align-items: center;}

.register-client-form input, select{
    background-color: rgb(46, 46, 46);
    border: solid 2px rgb(35, 35, 35);
    color: greenyellow;
}

.physical-data .form-group, .macros-distribution .form-group, .physical-goals .form-group{
    width: 33%;
}

.kcal input{ width: 4rem; }

.error-message{
    margin-top: 0.5rem;
    max-width: 100%;

    color: greenyellow;
    font-size: 0.8rem;

    text-wrap: wrap;
}

.error-message a{ text-decoration: underline; cursor: pointer; transition: ease all 200ms; }
.error-message a:hover{ color: rgb(205, 255, 131); }

.contact-info { gap: 1rem; }

.contact-info .email input{ width: 12rem; }

/* Client list */
#client-list h2, #your-client-list h2{ font-family: 'Funnel Display'; margin-top: 1.25rem; border-bottom: solid 1px white; padding-bottom: 0.5rem;}

#your-client-list{ margin-top: 1rem; }
.client-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(26rem, 100%), 1fr));
    gap: 0.5rem;

    margin: 0.75rem 0;
}

.client-container{
    min-height: fit-content;

    display: flex;
    gap: 0.25rem;
    justify-content: space-between;
    align-items: center;

    padding: 1.5rem 1rem;

    background-color: rgb(20, 20, 20);
    border: solid 1px rgb(39, 39, 39);

    transition: ease all 175ms;
}

.client-container:hover {
    background-color: rgb(16, 24, 12);
    border: solid 1px rgba(172, 255, 47, 0.25);
    color: greenyellow;
}

.new-client-btn button{
    padding: 0.3rem;

    background-color: transparent;
    border: solid 1px greenyellow;

    color: greenyellow;
    text-transform: uppercase;
    font-weight: 600;

    transition: ease all 205ms;
}

.new-client-btn button:hover{
    background-color: greenyellow;

    color: black;
    cursor: pointer;
}

.client-info { display: flex; flex-direction: column; justify-content: space-evenly;}
.client-since{ margin-top: 0.5rem; font-size: 0.8rem; color: rgb(124, 177, 45);}

.next-workouts{
    width: 15rem;
    min-width: fit-content;
    
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.client-list-workout{
    padding: 0.5rem;
    background-color: rgb(33, 33, 33);

    border: solid 1px rgb(172, 255, 47, 0.25);
}

#your-client-list .client-list-workout{
    padding: 0.3rem;
}

.workout-date{ font-weight: 600; }

.separator{ margin: 0 0.15rem; color: greenyellow; }

.workout-time{ color: greenyellow; }

.client-list-workout-top, .client-list-ejercicios{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.client-list-ejercicios{
    min-width: fit-content;
    width: 80%;
}

.nombre-ejercicio{ font-weight: 600; color: greenyellow; }

/* Footer */
footer{ background-color: black; }